{% extends 'cal/base.html' %}

{% block title %}
PlanIt Planner
{% endblock %}

{% block content %}
<div class="clearfix" style="background-color:#6d7297;">
	<p style="font-family: Verdana,Geneva,sans-serif; font-size:40px; color:white;"> 📅 PlanIt Planner </p>
	<center>
	<a class="btn btn-info left"
		style="color:#33355b; background-color:white;"
		href="{% url 'cal:calendar' %}?{{ prev_month }}" > ◄ Previous Month </a>

	<a class="btn btn-info mid"
		style="color:#33355b; background-color:white;"
		href="{% url 'cal:home' %}"> 🏠 Home </a>

	<a class="btn btn-info mid"
		style="color:#33355b; background-color:white;"
		href="{% url 'cal:event_new' %}"> 📌 New Event </a>

	<a class="btn btn-info right"
		style="color:#33355b; background-color:white;"
		href="{% url 'cal:calendar' %}?{{ next_month }}"> Next Month ► </a>

	<a class="btn btn-info mid"
		style="color:#33355b; background-color:white;"
		href="{% url 'cal:goal_new' %}"> 🌟 New Goal </a>

	<a class="btn btn-info mid"
		style="color:#33355b; background-color:white;"
		href="{% url 'cal:todo_new' %}"> ☑️ New To-Do </a>
	</center>
</div>
<body style="background-color:#33355b;"></body>

<style>

.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
  background: white;
}

.calendar tr, .calendar td {
  border: 1px solid #33355b;
}

.calendar th {
  padding: 10px;
  text-align: center;
  background: #6d7297;
  font-size: 18px;
  color: white;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
  color: white;
}

.date {
  font-size: 16px;
}
</style>

{{ calendar }}
{% endblock %}