{% extends 'cal/base.html' %}

{% block title %}
Daily View
{% endblock %}

{% block content %}
<div class="clearfix" style="background-color:#6d7297;">
    <p style="font-family: Verdana,Geneva,sans-serif; font-size:40px;"> 📅 PlanIt Planner </p>

    <a class="btn btn-info right" href="{% url 'cal:calendar' %}"> 📅 Calendar </a>
    <a class="btn btn-info left" href="{% url 'cal:home' %}"> 🏠 Home </a>
    <a class="btn btn-info right" href="{% url 'cal:event_new' %}"> 📌 New Event </a>
</div>

<div class="home">
    {{ today }}
</div>
{% endblock %}