{% extends 'cal/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="clearfix" style="background-color:#6d7297;">
    <p style="font-family: Verdana,Geneva,sans-serif; font-size:40px; color: white;"> 📅 PlanIt Planner </p>

    <a class="btn btn-info left"
        style="color:#33355b; background-color:white;"
        href="{% url 'cal:calendar' %}"> 📅 Calendar </a>

    <a class="btn btn-info right"
		style="color:#33355b; background-color:white;"
		href="{% url 'cal:goal_new' %}"> 🌟 New Goal </a>

	<a class="btn btn-info right"
		style="color:#33355b; background-color:white;"
        href="{% url 'cal:todo_new' %}"> ☑️ New To-Do </a>

    <a class="btn btn-info right"
		style="color:#33355b; background-color:white;"
        href="{% url 'cal:event_new' %}"> 📌 New Event </a>
</div>

<body style="background-color:#33355b;"></body>

<div class="home" style="color: white;">
    {{ today }}
</div>

<div class="home" style="color: white;">
    {{ quote }}
</div>
{% endblock %}