{% extends 'cal/base.html' %}

{% block title %}
Add to To-Do List
{% endblock %}

{% block content %}
<div class="clearfix" style="color: white; background-color:#6d7297;">
  <p style="font-family: Verdana,Geneva,sans-serif; font-size:40px;"> 📅 PlanIt Planner </p>

  <a class="btn btn-info left"
      style="color:#33355b; background-color:white;"
      href="{% url 'cal:calendar' %}"> 📅 Calendar </a>
</div>

<div class="clearfix" style="color: white;">
  <p style="font-size: 25px; text-align: center;">
      Add a ToDo
  </p>
</div>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field.label }} <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ field.label }} <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form method="post">
  {% csrf_token %}
  <table class="form form-table" style="background-color: white;">
    {{ form }}
    <tr><td colspan="2"><button type="submit" class="btn btn-info right"> Submit </button></td></tr>
  </table>
</form>
{% endblock %}